.auth_signOut-container {
  position: relative;
  height: 100%;
}

.auth_signOut-container button:hover {
  outline: none;
}

.auth_signOut-container button:focus {
  outline: none;
}

.auth_signOut-container button {
  padding-right: 15px;
  cursor: pointer;
  color: darkslateblue;
  background: none;
  border: none;
  font-family: 'SansSerif';
  font-size: 12pt;
}

.auth_signOut-container button:hover {
  font-style: italic;
  text-decoration: underline;
}
