<div class="app-notes-note-list-container-holder">
  <ew-notes-note-nav></ew-notes-note-nav>
  <ew-notes-note-form-popup></ew-notes-note-form-popup>


  <!--<div class="app-notes-note-list-container">-->
    <!--<ew-notes-note *ngFor="let item of notes$ | async "-->
                 <!--[item]="item"-->
                 <!--[notesInnerState$]="notesInnerState"-->
                 <!--(openNote$)="openNote($event)"-->
                 <!--(closeNote$)="closeNote($event)"-->
                 <!--(deleteNote$)="deleteNote($event)">-->
    <!--</ew-notes-note>-->
  <!--</div>-->
</div>
